@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300&display=swap');

#root {
  display: flex;
  justify-content: center;
}

.app {
  display: flex;
  height: 97vh;
  width: 1200px;
  justify-content: center;
  align-content: center;
}

.text, .restart {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 15px auto 15px;
}

.typingtest,  .stats{
  display: flex;
  min-width: 490px;
  width: 90%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.submenu {
  display: flex;
  width: 85%;
  justify-content: space-between;
}

.time-selection-container, .panel-container {
  display: flex;
}

.time-selection, .countdown-timer, .stats-toggle {
  margin: 0px 15px 0px 15px;
  padding: 10px 15px 10px 15px;
  border-radius: 3px;
  border: 1px solid gray;
}

.time-selection-selected {
  background-color: black;
  color: white;
  margin: 0px 15px 0px 15px;
  padding: 10px 15px 10px 15px;
  border-radius: 3px;
  border: 1px solid gray;
}

.stats-toggle {
  padding-top: 12.5px;
  padding-bottom: 12.5px;
}

div {
  font-family: 'Noto Serif JP';
  font-size: 20px;
}

.stats-toggle {
  display: flex;
  align-self: center;
  font-size: 25px;
  color: rgb(42, 42, 42);
}

.textbox {
  display: flex;
  margin: 0 auto;
}